.Button {
    background-color: #4c5eaf;
    border: solid;
    border-width: 2px;
    border-color: #384580;
    color: white;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000067;
}

.Button:hover {
    background-color: #384580;
    cursor: pointer;
}